<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>IVA30</title>
    <style type="text/css" media="print, screen">
        {{~> assets/stylesheets/iva-30 this}}
    </style>
</head>

<body>

<div class="first-page-header-left">
    <div class="header-serial-no">
        <div class="header-serial-no-title">
            <span id="serial-no"> <b>Serial Number: </b> {{ivaData.serialNo}} </span>
        </div>
    </div>
    <div class="header-pagination">
        <span>Page 1 of</span>
        <span id ="header-pagination-num"></span>
    </div>
</div>
<div class="first-page-header-right">
    <img src="{{root}}/assets/images/dvsa_crest.png" alt="logo" width="110"/>
</div>


<div class="footer-left">
    <p> <b class="bold-title">IVA30VTA (DVSA0842) </b> </p>
</div>
<div class = "footer-mid">
    <span class="footer-current-page-number"></span>
    <span class="footer__bottom-page-counter-text"><b>of</b></span>
    <span class="footer-total-page-count"></span>
</div>
<div class = "footer-right">
    <p><b>Version 1.0 Apr 2024</b></p>
</div>


<div class="separate-page">
    <div class="section-title-border" id ='cert-title-border'>
        <h1> INDIVIDUAL VEHICLE APPROVAL (IVA)</h1>
        <h1> NOTIFICATION OF REFUSAL TO ISSUE AN INDIVIDUAL APPROVAL CERTIFICATE </h1>
        <p id="cert-subtitle"><b>The Road Vehicles (Approval) Regulations 2020</b></p>
    </div>

    <p id = "appointment-text"> AN APPOINTMENT FOR RE-EXAMINATION <b>CANNOT</b> BE MADE ON THE DAY ON WHICH THIS EXAMINATION WAS CARRIED OUT
        PLEASE CONTACT <b> (0300) 200 1188 </b> TO MAKE AN APPOINTMENT QUOTING YOUR TAS REFERENCE NUMBER </p>


    <table class="table">
        <thead>
        <th scope="row" colspan="2" class="section-title-border">
            <h1> VEHICLE DETAILS </h1>
        </th>
        </thead>
        <tr class="table-row-cell">
            <td class="table-row-cell" id="veh-trl-no"><b>Vehicle/Trailer NR No: </b> {{ivaData.vehicleTrailerNrNo}} </td>
            <td class="table-row-cell" id="test-category"><b>Test Category: </b> <span class="test-category-value">{{ivaData.testCategoryClass}}</span> ({{ivaData.testCategoryBasicNormal}}) </td>
        </tr>
        <tr class="table-row-cell">
            <td class="table-row-cell" id="make-model"><b>Make/Model: </b> {{ivaData.make}}/{{ivaData.model}}</td>
            <td class="table-row-cell" id="vin-chassis-no"><b>VIN/Chassis No: </b> {{ivaData.vin}} </td>
        </tr>
        <tr class="table-row-cell">
            <td class="table-row-cell" id="body-type"> <b>Body Type: </b>{{ivaData.bodyType}} </td>
            <td class = "no-border-cell"></td>
        </tr>
    </table>


    <div class="section-border">
        <div class="section-title-border">
            <h1> DEFECT DETAILS </h1>
        </div>
        <div class="section-title-border" id="defect-details-subtitle-border">
            <h1> Required Standard(s) Not Met: </h1>
        </div>
        <div class="section-text-wrapper" id="required-standards">
            {{#if ivaData.requiredStandards}}
                <ul class="required-standard-list">
                    {{#each ivaData.requiredStandards}}
                        <li>
                            <div>
                                <p><span class="required-standard-section">{{this.sectionNumber}} - {{this.sectionDescription}}</span></p>
                            </div>
                            <div>
                                <p><span> RS{{this.rsNumber}}: {{this.requiredStandard}} </span></p>
                                {{#if this.additionalNotes}}
                                    Additional Information: <span> {{this.additionalNotes}} </span>
                                {{/if}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <p> I hereby refuse an Individual Approval Certificate in respect of the above described vehicle on the
        grounds that the vehicle fails to comply with the relevant requirements prescribed under The Road Vehicles
        (Approval) Regulations 2020 </p>


    <table class="table">
        <tr>
            <td></td>
            <td class="table-row-cell" id="re-app-date"> <b>Reapplication required by: </b> {{ivaData.reapplicationDate}} </td>
        </tr>
        <tr>
            <td class="table-row-cell"> 
                <b>Signed: Testing</b>
                <div class="signature-image__wrapper">
                    <img id="signature-first-page" class="signature-image" src="{{signature.formattedImageData}}" alt="signature"/>
                </div>                
            </td>
            <td class="table-row-cell" id="date"> <b>Date: </b>  {{ivaData.date}} </td>
        </tr>
        <tr>
            <td class="table-row-cell" id="tester-name"> <b>Name: </b> {{ivaData.testerName}} </td>
            <td class="table-row-cell" id="station"> <b>Station: </b> {{ivaData.station}} </td>
        </tr>
        <tr>
            <td class="table-row-cell" colspan="2"> <p><b>The following additional defects may result in the vehicle not complying with the requirements
                of The Road Vehicles (Construction and Use) Regulations 1986. (See notes overleaf) </b></p>
                {{#if ivaData.additionalDefects}}
                    <ul class="additional-defect-list" id="additional-defects">
                        {{#each ivaData.additionalDefects}}
                            <li>
                                <div>
                                    <span>
                                        {{this.defectName}}
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        {{this.defectNotes}}
                                    </span>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </td>
        </tr>
    </table>



    <div class="section-border">
        <div class="section-title-border">
            <h1> DATA PROTECTION STATEMENT 2019 </h1>
        </div>
        <div class="section-text-wrapper">
            <p> <b>DATA PROTECTION</b> - We collect and store your personal data so that we can provide you with a
                notification of refusal to issue an Individual Approval Certificate (IAC). </p>
            <p> We may share your personal data if we have a lawful reason. For example, as part of a criminal
                investigation or to prevent fraud. Find out more at <a href="www.gov.uk/dvsa/privacy">www.gov.uk/dvsa/privacy</a></p>
        </div>
    </div>
</div>


<div class="separate-page" id="back-page">

    <div class="section-border">
        <div class="section-title-border">
            <h1>RE-EXAMINATION</h1>
        </div>
        <div class="section-text-wrapper">
            <p> This notification indicates the items of non-compliance being the reason(s)
                why an Individual Approval Certificate (IAC) has not been issued. An application
                for re-examination can be made up to 6 calendar months following the issue date
                of the first "Notification of Refusal" in respect of the original application.
                In any other case, a new application and a full fee must be submitted.</p>
            <p> When modification/rectification has been completed, or additional evidence of
                compliance obtained, an application for a re-examination (verbally or in writing)
                should be made, in the case of an M1 or N1 vehicle class listed below, to attend at the test
                station that issued this notification and in respect of any other class or category, to
                the test station of your choice. To obtain a re-examination appointment please contact <strong>(0300) 200 1188</strong> </p>

            <div class="exam-list">
                <ul id="left-exam-list">
                    <li>Amateur Built Vehicle</li>
                    <li>Rebuilt Vehicle</li>
                    <li>Motor Ambulance</li>
                    <li>Motor Caravan</li>
                    <li>Vehicle manufactured using parts of a registered vehicle</li>
                </ul>

                <ul id="right-exam-list">
                    <li>Disabled Person's Vehicle</li>
                    <li>Hearse</li>
                    <li>Armoured Vehicle</li>
                    <li>Vehicle manufactured in very low volume</li>
                </ul>
            </div>

            <div class="refusal-list">
                <p> Where a "Notification of Refusal" is issued, a further examination (a retest) will be carried
                    out without further payment if: </p>
                <p> - the vehicle is submitted for the examination at the place where it was previously examined, and</p>
                <p> - the vehicle is submitted for examination before the end of the fifth day on which DVSA is accepting
                    vehicles for inspection following the day of the original examination, and</p>
                <p> - in the case of any vehicle category, the application is due to a failure to provide sufficient
                    documentary evidence before the examination to demonstrate compliance, or</p>
                <p> - in the case of an M1 or N1 category vehicle only, failure is due to one or more of the following
                    items (subject to a maximum of six items)</p>
            </div>

            <ul class="item-list">
                <li>Item 3           Fuel tanks/rear protective devices - fuel filler arrangements only;</li>
                <li>Item 4           Rear registration plate space - all requirements;</li>
                <li>Item 7           Audible warning - operation of audible warning device only;</li>
                <li>Item 8           Indirect vision - all except field of view;</li>
                <li>Item 9           Braking - warning lamps only;</li>
                <li>Item 10         EMC - markings only;</li>
                <li>Item 12         Interior fittings - no more than 3 separate examples of failure to comply;</li>
                <li>Item 13         Anti-theft &amp; immobiliser - all requirements;</li>
                <li>Item 16         Exterior projections - no more than 3 separate examples of failure to comply;</li>
                <li>Item 17         Speedometer - illumination only;</li>
                <li>Item 18         Plates - all requirements;</li>
                <li>Item 20-30    Lighting - all except angle of visibility and position;</li>
                <li>Item 31         Seat belts - child restraint warning label only;</li>
                <li>Item 33         Controls - no more than 3 separate examples of failure to comply;</li>
                <li>Item 34         Defrost/demist - all requirements;</li>
                <li>Item 35         Wash/wipe - all requirements;</li>
                <li>Item 36         Heating - all requirements;</li>
                <li>Item 37         Wheel guards - all requirements;</li>
                <li>Item 45         Safety glass - approval marking only;</li>
                <li>Item 46         Tyres - approval marking, one example only;</li>

            </ul>
        </div>
    </div>
    <!-- second box -->
    <div class="section-border">
        <div class="section-title-border">
            <h1>USE OF THE VEHICLE</h1>
        </div>
        <div class="section-text-wrapper">
            <p id="no-margin-p">It is an offence to use a vehicle that requires type approval without an Individual Approval
                Certificate confirming compliance with the type approval requirements, except for the purposes of:</p>
            <ul class="vehicle-section-list">
                <li> - submitting it, by previous arrangement, for an approval examination;</li>
                <li> - bringing it away from such an examination;</li>
                <li> - delivering it, by previous arrangement, to a place where relevant work is to be done on it following
                    receipt of a refusal to issue an Individual Approval Certificate;</li>
                <li> - bringing it away from a place where relevant work has been done on it.</li>
            </ul>
            <p>You may have been notified of defects in addition to those appertaining to the approval requirements.
                Even in the above circumstances you may be committing an offence if you use the vehicle, and it does
                not comply with the various regulations relating to its construction and use.</p>
        </div>
    </div>
    <div class="section-border">
        <div class="section-title-border">
            <h1>YOUR RIGHT TO APPEAL</h1>
        </div>
        <div class="section-text-wrapper">
            <p>If you do not agree with the Refusal to Issue an Individual Approval Certificate, you may appeal. If you
                wish to appeal against all or any of the grounds for refusal you must complete form <u><b>IVA17</b></u> which is
                available from the <b>GOV.UK</b> website, <a href="www.gov.uk/vehicleapproval">www.gov.uk/vehicleapproval</a>.
                Send the form to <b><u>approvals@dvsa.gov.uk</u></b>. DVSA will advise you how to pay by credit/debit card
                or prefunded account after you have applied. It costs the same as the original test. The appeal must be received
                at the <b>DVSA, Ellipse, Padley Road, Swansea, SA1 8AN</b> within 14 days, beginning with the date of the issue of the
                notification of refusal.</p>

            <p>It is important that no modification/rectification work is carried out on the vehicle before the appeal
                test as this may affect the outcome of the appeal.</p>
        </div>
    </div>
</div>
</body>
</html>