<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Road Worthiness Test ({{testType}})</title>
    <style type="text/css" media="print, screen">
            {{~> assets/stylesheets/rwt this}}
    </style>
</head>
<body>
<div class="alignleft">
    <img src="{{root}}/assets/images/dvsa-crest-king.png" alt="DVSA Crown" id="logo"/>
</div>
<!--footer -->
<div class="footer">
    <p id="document-number-footer" class="align-left margin-set">
         <span id="doc-number">
             {{#if rwtData.hasDefects}}
                 DVSA0480
             {{else}}
                 DVSA0479
             {{/if}}
         </span>
    </p>
    <p class="align-right margin-set"><span id="doc-version">v 1.2 May 2025</span></p>
    <div class="clear"></div>
</div>
<!-- footer -->

<div class="cert-body">
    <h3 class="text-center" id="certTitle">{{#if rwtData.hasDefects}} REFUSAL OF A {{/if}}ROADWORTHINESS INSPECTION CERTIFICATE</h3>
<ol class="certificate-content">
    <li><p>The  motor vehicle or trailer identified in paragraph 4 below is one that the applicant has stated either that it is outside the scope of, or that it is of a class which is listed as not applicable within, the Goods Vehicle (Plating and Testing) Regulations 1988 as amended. It has been accepted for examination for roadworthiness on the basis of that assertion. A listing of vehicles not in scope of Plating and Testing, or to which The Plating and Testing regulations are not applicable, is given on DVLA form V112G.</p></li>
    <li><p>This vehicle has undergone an inspection at the Authorised Testing Facility detailed below, which is similar to a Heavy Goods Vehicle (HGV) annual test (as prescribed by the Goods Vehicle Plating and Testing Regulations). It should however be noted that there are certain items that would normally be tested as part of the HGV annual test that it is not possible to check or it is inappropriate to check on a vehicle of this type. It should also be noted that no components fitted to this vehicle, that do not form part of the usual HGV annual test have been tested (e.g. - towing equipment).</p></li>
    <li><p>For the brake performance test, if no accurate vehicle weights are known, the HGV Annual Test requirements are based on estimated design weights of a vehicle of that arrangement and number of axles.</p>
        <div>
            <span class="padding-right"><b>Weights used for Brake Testing:</b></span><label for="dgvw">DGVW</label> <span id="dgvw" class="border">{{rwtData.dgvw}} kg</span>
            <label for="weight2">{{#if rwtData.isTrailer}} DTAW {{else}} DGTW {{/if}} </label> <span id="weight2" class="border">{{rwtData.weight2}} kg</span>
        </div>
    </li>
    <li> {{#if rwtData.hasDefects}}
        <p style="margin-bottom:5px">Within the parameters laid out in paragraph 2 and 3, above, I certify that for the reason(s) shown below the motor vehicle or trailer was not shown to meet the inspection requirements.</p>
        <div id="defects" class="border-defects">
            <ul class="defects-list">
            {{#each rwtData.defects}}
                <li id="defects-{{@index}}">{{this}} </li>
             {{/each}}
            </ul>
        </div>
        {{else}}
        <p>Within the parameters laid out in paragraph 2 and 3 above, the following vehicle has been found to meet the inspection requirements.</p>
    {{/if}}
    </li>
</ol>
<ul class="certificate-data">
    <li><label style="padding-right:65px;">{{#if rwtData.isTrailer}} Trailer ID: {{else}} Vehicle Registration Mark: {{/if}}</label> <span id="vehicle-number" class="border"> {{rwtData.vehicleNumber}}</span></li>
    <li><label class="padding-right">Vehicle Identification Number:</label> <span id="vin" class="border"> {{rwtData.vin}}</span></li>
    <li>
        <label class="padding-right">Date of Inspection:</label> <span id="date-of-inspection" class="border row-align"> {{rwtData.dateOfInspection}}</span>
        <label >Test Station No:</label> <span id="test-station-pnumber" class="border"> {{rwtData.testStationPNumber}}</span>
    </li>
    <li>
        <label class="padding-right:60px;">Name of Issuer:</label> <span id="issuers-name" class="border issuer-row-align"> {{rwtData.issuersName}}</span>
       {{#if rwtData.hasNoDefects}} <label class="padding-right">Document No:</label> <span id="document-number" class="border"> {{rwtData.documentNumber}}</span> {{/if}}
    </li>
</ul>
    <div class="issuer-sign">
        <label class="padding-right">Signature of Issuer: </label> <img id="signature" class="issuer-row-value signature-image" src="{{signature.formattedImageData}}" alt="signature"/>
        <label class="padding-right">Date:</label><span id="date" class="issuer-row-value">{{rwtData.date}}</span>
    </div>
    <div class="footer-note"><i><b>Note:  This document is not an Annual Test (MOT) Certificate and is not a legal document.</b></i></div>
    <div class="data-protection">
        <h4>Data Protection</h4>
        <p>We collect, use and store your personal data so that we can correctly issue your vehicle with a Roadworthiness Inspection Certificate. We may share your personal data if we have a lawful reason. For example, as part of a criminal investigation or to prevent fraud. Find out more at <a href="https://www.gov.uk/dvsa/privacy" class="link">www.gov.uk/dvsa/privacy</a>.</p>
    </div>
</div>

<div class="find-out">
    <p class="text-center">Find out more about vehicle testing at <a href="https://www.gov.uk/dvsa" class="link">www.gov.uk/dvsa</a></p>
</div>

</body>
</html>
