<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>Ministry Plates VTG6 - VTG7</title>
    <style type="text/css" media="print, screen">
            {{~> assets/stylesheets/plates this}}
    </style>
</head>

<body>
<div class="firstPage">
    <table class="vtg7">
        <tbody>
        <tr>
            <td colspan="4" rowspan="2" class="logo">
                <img src="{{root}}/assets/images/dvsa-crest-1.1.png" alt="DVSA" width="125"/>
            </td>
            <td colspan="4" rowspan="2" class="plating_certificate">
                <p class="department_for_transport">
                    <strong>Department For Transport</strong></p>
                <p class="road_traffic">
                    ROAD TRAFFIC ACT 1988 SECTIONS 41, 49, 57 &amp; 58 EXAMINATION OF GOODS VEHICLE
                </p>
                <p class="proof_of_compliance">
                    This is issued as proof of compliance with the weights and dimensions directive 85/3/EEC
                </p>
                <div class="inline_elem">
                    <div class="inline_elem_child">
                        <p class="plating_cert">
                            Plating Certificate
                        </p>
                    </div>
                    <div class="inline_elem_child vtg7a">
                        <p>
                            VTG7A
                        </p>
                        <p>
                            Rev 2010
                        </p>
                    </div>
                </div>
            </td>
            <td colspan="5" class="plating_certificate">
                <p class="serial_dtp"> Serial No.&nbsp;</p>
                <p class="serial_dtp_value">{{plateData.plateSerialNumber}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="dtp_data">
                <p class="serial_dtp"> DTp Ref. No.&nbsp;</p>
                <p class="serial_dtp_value">{{plateData.dtpNumber}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="no_border_top align_top">
                <p class="vehicle_identifier">Reg./ Ident Mark</p>
                <p class="vehicle_identifier_data">{{plateData.primaryVrm}}</p>
            </td>
            <td colspan="5" class="no_border_left_top align_top">
                <p class="vehicle_identifier">Vehicle Identification No.</p>
                <p class="vehicle_identifier_data">{{plateData.vin}}</p>
            </td>
            <td colspan="5" class="no_border_left_top align_top">
                <p class="vehicle_identifier">Variant</p>
                <p class="vehicle_identifier_data">{{plateData.variantNumber}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="13" class="no_border_top align_top">
                <p class="tyre_approval">Tyre Approval No. &nbsp; <strong>{{plateData.approvalTypeNumber}}</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="8" class="no_border_top align_top manufacturer">
                <p>
                    <span>Manufacturer/</span>
                </p>
                <p>
                    <span>Model</span>
                    <span class="manufacturer_data">{{plateData.make}}/{{plateData.model}}</span>
                </p>
            </td>
            <td colspan="5" class="no_border_left_top align_top speed_limiter">
                <p>
                    <span>Speed</span>
                </p>
                <p>
                    <span>Limiter</span>
                    <span class="speed_limiter_data">{{plateData.speedLimiterMrk}}</span>
                </p>
                <p>
                    <span>Exempt</span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="no_border_top function_code">
                <div class="inline_elem_child">
                    <p>
                        <span>Function</span>
                    </p>
                    <p>
                        <span>(See note 3)</span>
                    </p>
                </div>
                <div class="inline_elem_child align_middle">
                    <span class="function_code_data">{{plateData.functionCode}}</span>
                </div>
            </td>
            <td colspan="3" class="no_border_left_top regn_date">
                <div class="inline_elem_child">
                    <p>
                        <span>Year of Original</span>
                    </p>
                    <p> Registration </p>
                </div>
                <div class="inline_elem_child align_middle">
                    <span class="regn_date_data">{{plateData.regnDate}}</span>
                </div>
            </td>
            <td colspan="6" class="no_border_left_top manufacture_year">
                <div class="inline_elem_child">
                    <p>
                        <span>Year of</span>
                    </p>
                    <p>
                        <span>Manufacture</span>
                    </p>
                </div>
                <div class="inline_elem_child align_middle">
                    <span class="manufacture_year_data">{{plateData.manufactureYear}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" class="weights_description width_25">
                <div class="inline_elem">
                    <span class="inline_elem_child weight_numbering"> (1) </span>
                    <span class="inline_elem_child weight_title">Description of Weights Applicable to vehicle</span>
                </div>
            </td>
            <td colspan="2" rowspan="2" class="no_border_left_top align_top width_25">
                <div class="inline_elem">
                    <span class="inline_elem_child weight_numbering"> (2) </span>
                    <span class="inline_elem_child weight_title">Weights not to be exceeded in Gt. Britain</span>
                </div>
            </td>
            <td rowspan="2" class="no_border_left_top align_top width_25">
                <div class="inline_elem">
                    <span class="inline_elem_child weight_numbering"> (3) </span>
                    <span class="inline_elem_child weight_title">EEC Maximum permitted weights</span>
                </div>
                <p class="weight_notes">(See note 8)</p>
            </td>
            <td colspan="2" rowspan="2" class="no_border_left_top align_top width_25">
                <div class="inline_elem">
                    <span class="inline_elem_child weight_numbering"> (4) </span>
                    <span class="inline_elem_child weight_title">Design Weights</span>
                </div>
                <p class="weight_notes">(if higher than shown in column 2)</p>
            </td>
            <td colspan="2" class="no_border_left_top length_width">
                <p class="centered_data"><strong>Length</strong></p>
            </td>
            <td colspan="4" class="no_border_left_top length_width">
                <p class="centered_data"><strong>Width</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.dimensionLength}}</strong>
                </p>
            </td>
            <td colspan="4" class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.dimensionWidth}}</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="no_border_top align_middle">
                <p class="centered_title">
                    <strong class="weight_titles">Gross Weight</strong>
                </p>
                <p class="centered_title">
                    <span class="weight_notes">(See notes 1 &amp; 4)</span>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.grossGbWeight}}</strong>
                </p>
            </td>
            <td class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.grossEecWeight}}</strong>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.grossDesignWeight}}</strong>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <div class="coupling_foremost">
                    <span>a. Coupling centre to vehicle foremost part (See note 6)</span>
                </div>
            </td>
            <td colspan="2" class="no_border_left_top align_top">
                <div class="coupling_max_min">
                    <p class="centered_title">
                        <strong>Max</strong>
                    </p>
                    <p class="centered_data">
                        <strong>{{plateData.frontAxleTo5thWheelCouplingMax}}</strong>
                    </p>
                </div>
            </td>
            <td colspan="2" class="no_border_left_top align_top">
                <div class="coupling_max_min">
                    <p class="centered_title">
                        <strong>Min</strong></p>
                    <p class="centered_data">
                        <strong>{{plateData.frontAxleTo5thWheelCouplingMin}}</strong>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="no_border_top align_middle">
                <p class="centered_title">
                    <strong class="weight_titles">Train Weight</strong>
                </p>
                <p class="centered_title">
                    <span class="weight_notes">(See note 2)</span>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.trainGbWeight}}</strong>
                </p>
            </td>
            <td class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.trainEecWeight}}</strong>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.trainDesignWeight}}</strong>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <div class="coupling_rearmost">
                    <span>b. Coupling centre to vehicle rearmost part (See note 7)</span>
                </div>
            </td>
            <td colspan="2" class="no_border_left_top align_top">
                <p class="centered_title">
                    <strong style="font-size:8px;">Max</strong>
                </p>
                <p class="centered_data">
                    <strong>{{plateData.couplingCenterToRearTrlMax}}</strong>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_top">
                <p class="centered_title">
                    <strong style="font-size:8px;">Min</strong>
                </p>
                <p class="centered_data">
                    <strong>{{plateData.couplingCenterToRearTrlMin}}</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="no_border_top align_middle">
                <p class="centered_title">
                    <strong class="weight_titles">Max. Train Weight</strong>
                </p>
                <p class="centered_title">
                    <span class="weight_notes">(See note 5)</span>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.maxTrainGbWeight}}</strong>
                </p>
            </td>
            <td class="no_border_left_top align_middle">
                <p class="centered_data">
                    <strong>{{plateData.maxTrainEecWeight}}</strong>
                </p>
            </td>
            <td colspan="2" class="no_border_left_top gray_box">
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <div>
                    <p class="centered_title tyres">
                        <strong class="weight_notes">Tyre size</strong>
                    </p>
                    <p class="centered_title tyres">
                        <span class="weight_notes">(Fitted at time of issue of certificate)</span>
                    </p>
                </div>
            </td>
            <td colspan="3" class="no_border_left_top align_top">
                <div>
                    <p class="ply_load_index"> Ply rating or load index</p>
                </div>
            </td>
            <td class="no_border_left_top align_top">
                <div class="centered_title">
                    <p class="fitment_code">*S</p>
                    <p class="fitment_code">or</p>
                    <p class="fitment_code">D</p>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="4" class="no_border_top align_top">
                <p class="centered_title">
                    <strong class="axle_weights">Axle</strong>
                </p>
                <p class="centered_title">
                    <strong class="axle_weights">Weights</strong>
                </p>
                <p class="centered_title">
                    <span class="axle_weights_notes">(Axle</span>
                </p>
                <p class="centered_title">
                    <span class="axle_weights_notes">numbered</span>
                </p>
                <p class="centered_title">
                    <span class="axle_weights_notes">from front</span>
                </p>
                <p class="centered_title">
                    <span class="axle_weights_notes">to rear)</span>
                </p>
                <p class="centered_title">
                    <span class="axle_weights_notes">(See note 1)</span>
                </p>
            </td>
            <td class="no_border_left_top axle1">
                <p class="axle_number"> Axle 1 </p>
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle1.weights.gbWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle1.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle1.weights.eecWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle1.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle1.weights.designWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle1.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle1.tyres.tyreSize}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle1.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle1.tyres.plyRating}}
                    <div class="ply_rating">
                        <strong>{{plateData.axles.axle1.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle1.tyres.fitmentCode}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle1.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td class="no_border_left_top axle_data">
                <p class="axle_number"> Axle 2 </p>
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle2.weights.gbWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle2.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle2.weights.eecWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle2.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle2.weights.designWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle2.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle2.tyres.tyreSize}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle2.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle2.tyres.plyRating}}
                    <div class="ply_rating">
                        <strong>{{plateData.axles.axle2.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle2.tyres.fitmentCode}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle2.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td class="no_border_left_top align_middle">
                <p class="axle_number"> Axle 3 </p>
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle3.weights.gbWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle3.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle3.weights.eecWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle3.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle3.weights.designWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle3.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle3.tyres.tyreSize}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle3.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle3.tyres.plyRating}}
                    <div class="ply_rating">
                        <strong>{{plateData.axles.axle3.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle3.tyres.fitmentCode}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle3.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td class="no_border_left_top axle_data">
                <p class="axle_number">Axle 4</p>
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle4.weights.gbWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle4.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle4.weights.eecWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle4.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle4.weights.designWeight}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle4.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle4.tyres.tyreSize}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle4.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3" class="no_border_left_top axle_data">
                {{#if plateData.axles.axle4.tyres.plyRating}}
                    <div class="ply_rating">
                        <strong>{{plateData.axles.axle4.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td class="no_border_left_top axle_data">
                {{#if plateData.axles.axle4.tyres.fitmentCode}}
                    <p class="centered_data">
                        <strong>{{plateData.axles.axle4.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="no_border_top max_kingpin">
                <p class="max_kingpin_title">
                    <strong>Maximum Kingpin</strong>
                </p>
                <p class="max_kingpin_title">
                    <strong>Load</strong>
                </p>
                <p class="max_kingpin_note">
                    <span>(Semi-Trailers Only)</span>
                </p>
            </td>
            <td colspan="3" class="no_border_left_top align_top gray_box">
            </td>
            <td colspan="2" class="no_border_left_top align_middle">
                <p class="max_load">
                    <strong>{{plateData.maxLoadOnCoupling}}</strong>
                </p>
            </td>
            <td colspan="6" class="no_border_left_top align_top">
                <p class="max_kingpin_title">
                    *&rsquo;S&rsquo; indicates single wheels
                </p>
                <p class="max_kingpin_title">
                    &lsquo;D&rsquo; indicates dual wheels
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="13" class="no_border_top align_top gray_box">
                <div class="bottom_gray_div">
                    <div class="inline_elem">
                        <div class="inline_elem_child empty_div_before_tyre_use"></div>
                        <div class="inline_elem_child tyre_use">
                            <p>
                                Tyre use conditions applicable to vehicle (See note 12)
                            </p>
                        </div>
                        <div class="inline_elem_child tyre_use_data">
                            <p>
                                {{plateData.tyreUseCode}}
                            </p>
                        </div>
                    </div>
                    <div class="notifiable_alt">
                        <p>NOTIFIABLE ALTERATIONS (Section 51 (1) (d) of the Road Traffic Act 1988)</p>
                        <p class="notifiable_alt_following">
                            The following alterations in the vehicle or the equipment must
                            be notified to the Secretary of State. (See notes 9 to 11)
                        </p>
                        <p>(a) &nbsp; An alteration made in the structure or fixed equipment of the vehicle which
                            carries the carrying capacity or towing capacity of the vehicle;</p>
                        <p>(b) &nbsp; An alteration, affecting any part of a braking system or the steering system with
                            which the vehicle is equipped or of the means of the operation of that system; of</p>
                        <p>(c) &nbsp; Any other alteration made in the structure or fixed equipment of the vehicle which
                            renders or is likely to render the vehicle unsafe to travel on roads at any weight equal to
                            any weight shown in column (2) of the plating certificate.</p>
                    </div>
                    <div class="inline_elem bottom_details">
                        <div class="inline_elem_child bottom_left_details">
                            <div class="inline_elem">
                                <div class="inline_elem_child test_station">
                                    <p>Vehicle Testing Station No.</p>
                                </div>
                                <div class="inline_elem_child h999">
                                    <p>H999</p>
                                </div>
                                <div class="inline_elem_child"></div>
                                <div class="inline_elem_child date_of_issue">
                                    <p>Date of Issue</p>
                                </div>
                                <div class="inline_elem_child issue_date">
                                    <p>{{plateData.plateIssueDate}}</p>
                                </div>
                            </div>
                            <div class="inline_elem black_square_container">
                                <div class="inline_elem_child align_middle black_square_padding">
                                    <div class="black_square"></div>
                                </div>
                                <div class="inline_elem_child signature">
                                    <p>Signature</p>
                                </div>
                                <div class="inline_elem_child signature_container">
                                    <img class="signature_data" src="{{signature.formattedImageData}}" alt="signature" height="40"/>
                                </div>
                            </div>
                        </div>
                        <div class="inline_elem_child bottom_right_container">
                            <div class="bottom_right_text_container">
                                <p>
                                    The plated weights and other plated particulars specified in this plating
                                    certificate
                                    are those determined for the vehicle concerned under Sections 49, 57 &amp; 58 of the
                                    Road
                                    Traffic Act 1988 and the Regulations made under these Sections
                                    N.B. All weights in Kilograms &#8211; All Dimensions in Millimetres
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>