<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <style>
      @media print {
         @page {
            size: A5
         }
      }

      p {
         margin: 0;
         padding: 0;
         font-family: "Calibri", sans-serif;
      }

      div, strong, span {
         font-family: "Calibri", sans-serif;
      }

      .firstPage {
         width: 793.7px;
         height: 559.3px;
      }

    </style>
</head>

<body>
<div class="firstPage">
    <table style="width: 693px;border-collapse:collapse;border:none;margin-left:10px;margin-right: 10px;">
        <tbody>
        <tr>
            <td colspan="4" rowspan="2" style="border: 1px solid black;vertical-align: top;">
                <img src="{{root}}/assets/images/dvsa-crest-1.1.png" alt="DVSA" width="130"/>
            </td>
            <td colspan="4" rowspan="2"
                style="padding: 3px; border-top: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;border-image: initial;border-left: none;vertical-align: top;">
                <p style="font-size:15px;">
                    <strong>Department For Transport</strong></p>
                <p style="font-size: 8px; font-style: italic; padding-top: 3px;">
                    ROAD TRAFFIC ACT 1988 SECTIONS 41, 49, 57 &amp; 58 EXAMINATION OF GOODS VEHICLE
                </p>
                <p style="font-size: 8px; font-weight: bold; padding-top: 3px;">
                    This is issued as proof of compliance with the weights and dimensions directive 85/3/EEC
                </p>
                <div style="display: table; width: 100%;">
                    <div style="display: table-cell;">
                        <p style="font-size:16px; font-weight: bold; padding-top: 3px;">
                            Plating Certificate
                        </p>
                    </div>
                    <div style="display: table-cell; margin: auto; font-size: 9px; font-weight: bold">
                        <p>
                            VTG7A
                        </p>
                        <p>
                            Rev 2010
                        </p>
                    </div>
                </div>
            </td>
            <td colspan="5"
                style="padding: 3px; border-top: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;border-image: initial;border-left: none;vertical-align: top;">
                <p style="font-size: 13px;"> Serial No.&nbsp;</p>
                <p style='font-size:15px;text-align:center; font-weight: bold;'>{{plateData.plateSerialNumber}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="6"
                style="padding: 3px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <p style="font-size: 13px;"> DTp Ref. No.&nbsp;</p>
                <p style='font-size:15px;text-align:center; font-weight: bold;'>{{plateData.dtpNumber}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="3"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: top;">
                <p style="font-size:12px;">Reg./ Ident Mark</p>
                <p style='font-size:15px;text-align:center;padding: 3px; font-weight: bold;'>{{plateData.primaryVrm}}</p>
            </td>
            <td colspan="5"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <p style="font-size:12px;">Vehicle Identification No.</p>
                <p style='font-size:15px;text-align:center;padding: 3px; font-weight: bold;'>{{plateData.vin}}</p>
            </td>
            <td colspan="5"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <p style="font-size:12px;">Variant</p>
                <p style='font-size:15px;text-align:center; padding: 3px; font-weight: bold;'>{{plateData.variantNumber}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="13"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: top;">
                <p style="font-size:12px; padding: 3px 3px 10px 3px">Tyre Approval No.
                    &nbsp; {{plateData.approvalTypeNumber}}</p>
            </td>
        </tr>
        <tr>
            <td colspan="8"
                style="padding: 3px; border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: top;">
                <p style="font-size:12px;">Manufacturer/</p>
                <p>
                    <span style="font-size:12px;">Model</span>
                    <span style="margin-left: 200px; font-weight: bold;">{{plateData.make}}/{{plateData.model}}</span>
                </p>
            </td>
            <td colspan="5"
                style="padding-left: 5px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <p>
                    <span style="font-size:12px;">Speed</span>
                </p>
                <p>
                    <span style="font-size:12px;">Limiter</span>
                    <span style="margin-left: 50px; font-weight: bold;">{{plateData.speedLimiterMrk}}</span>
                </p>
                <p>
                    <span style="font-size:12px;">Exempt</span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="padding-left: 5px; border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: top;">
                <div style="display: table-cell;">
                    <p>
                        <span style="font-size:12px;">Function</span>
                    </p>
                    <p>
                        <span style="font-size:12px;">(See note 3)</span>
                    </p>
                </div>
                <div style="display: table-cell; vertical-align: middle;">
                    <span style="margin-left:50px; font-weight: bold;">{{plateData.functionCode}}</span>
                </div>
            </td>
            <td colspan="3"
                style="padding-left: 5px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div style="display: table-cell; font-align: center; ">
                    <p>
                        <span style="font-size:12px;">Year of Original&nbsp;</span>
                    </p>
                    <p>
                        <span style="font-size:12px;">Registration</span>
                    </p>
                </div>
                <div style="display: table-cell; vertical-align: middle;">
                    <span style="margin-left:10px; font-weight: bold;">{{plateData.regnDate}}</span>
                </div>
            </td>
            <td colspan="6"
                style="padding-left: 5px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div style="display: table-cell;">
                    <p>
                        <span style="font-size:12px;">Year of</span>
                    </p>
                    <p>
                        <span style="font-size:12px;">Manufacture</span>
                    </p>
                </div>
                <div style="display: table-cell; vertical-align: middle;">
                    <span style="margin-left:50px; font-weight: bold;">{{plateData.manufactureYear}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2"
                style="width: 25%;border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-top: none;vertical-align: top;">
                <div style='display: table;font-size:12px;'>
                    <span style="display: table-cell; font-weight: bold; width: 25%; text-align: center;"> (1) </span>
                    <span style="font-weight: bold; display: table-cell;">Description of Weights Applicable to vehicle</span>
                </div>
            </td>
            <td colspan="2" rowspan="2"
                style="width: 25%;border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div style='display: flex;font-size:12px;'>
                    <span style="display: table-cell; font-weight: bold; width: 25%; text-align: center;"> (2) </span>
                    <span style="font-weight: bold; display: table-cell;">Weights not to be exceeded in Gt. Britain</span>
                </div>
            </td>
            <td rowspan="2"
                style="width: 25%;border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div style='display: flex;font-size:12px;'>
                    <span style="display: table-cell; font-weight: bold; width: 25%; text-align: center;"> (3) </span>
                    <span style="font-weight: bold; display: table-cell;">EEC Maximum permitted weights</span>
                </div>
                <p style='margin: auto;text-align:center;font-size:11px;'>(See note 8)</p>
            </td>
            <td colspan="2" rowspan="2"
                style="width: 25%;border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div style='display: flex;font-size:12px;'>
                    <span style="display: table-cell; font-weight: bold; width: 35%; text-align: center;"> (4) </span>
                    <span style="font-weight: bold; display: table-cell;">Design Weights</span>
                </div>
                <p style='margin: auto;text-align:center;font-size:11px;'>(if higher
                    than shown in column 2)</p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:14px;text-align:center;'><strong>Length</strong></p>
            </td>
            <td colspan="4"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:14px;text-align:center;'><strong>Width</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.dimensionLength}}</strong>
                </p>
            </td>
            <td colspan="4"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.dimensionWidth}}</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:12px;">Gross Weight</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">(See notes 1 &amp; 4)</span></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.grossGbWeight}}</strong></p>
            </td>
            <td
                    style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.grossEecWeight}}</strong></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.grossDesignWeight}}</strong></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <div style='text-align: center; width:120px;font-size:15px;'>
                    <span style="font-size:11px;">a. Coupling centre to vehicle foremost part (See note 6)</span>
                </div>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div style="width: 57px;">
                    <p style='font-size:15px;text-align:center;'>
                        <strong style="font-size:8px;">Max</strong></p>
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.frontAxleTo5thWheelCouplingMax}}</strong></p>
                </div>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div style="width: 57px;">
                    <p style='font-size:15px;text-align:center;'>
                        <strong style="font-size:8px;">Min</strong></p>
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.frontAxleTo5thWheelCouplingMin}}</strong></p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:12px;">Train Weight</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">(See note 2)</span></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.trainGbWeight}}</strong></p>
            </td>
            <td
                    style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.trainEecWeight}}</strong></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.trainDesignWeight}}</strong></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <div style='text-align: center; font-size:15px;'>
                    <span style="font-size:11px;">b. Coupling centre to vehicle rearmost part (See note 7)</span>
                </div>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:8px;">Max</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.couplingCenterToRearTrlMax}}</strong></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:8px;">Min</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.couplingCenterToRearTrlMin}}</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:12px;">Max. Train Weight</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">(See note 5)</span></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.maxTrainGbWeight}}</strong></p>
            </td>
            <td style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.maxTrainEecWeight}}</strong></p>
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;background: rgb(165, 165, 165);">
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <div>
                    <p style='font-size:15px;text-align:center;'>
                        <strong style="font-size:11px;">Tyre size</strong></p>
                    <p style='font-size:15px;text-align:center;'>
                        <span style="font-size:11px;">(Fitted at time of issue of certificate)</span></p>
                </div>
            </td>
            <td colspan="3"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div>
                    <p style='padding-left: 5px; font-size:11px;'> Ply rating or load index</p>
                </div>
            </td>
            <td style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <div>
                    <p style='padding-left: 5px;font-size:11px;'>*S</p>
                    <p style='padding-left: 5px;font-size:11px;'>or</p>
                    <p style='padding-left: 5px;font-size:11px;'>D</p>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="4"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: top;">
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:12px;">Axle&nbsp;</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:12px;">Weights</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">(Axle&nbsp;</span></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">numbered&nbsp;</span></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">from front&nbsp;</span></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">to rear)&nbsp;</span></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">(See note 1)</span></p>
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:12px;text-align:center;'>Axle 1</p>
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle1.weights.gbWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle1.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle1.weights.eecWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle1.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle1.weights.designWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle1.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle1.tyres.tyreSize}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle1.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle1.tyres.plyRating}}
                    <div style='font-size:14px;text-align:center; white-space: nowrap;'>
                        <strong>{{plateData.axles.axle1.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle1.tyres.fitmentCode}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle1.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:12px;text-align:center;'>Axle 2</p>
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle2.weights.gbWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle2.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle2.weights.eecWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle2.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle2.weights.designWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle2.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle2.tyres.tyreSize}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle2.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle2.tyres.plyRating}}
                    <div style='font-size:14px;text-align:center; white-space: nowrap;'>
                        <strong>{{plateData.axles.axle2.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle2.tyres.fitmentCode}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle2.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:12px;text-align:center;'>Axle 3</p>
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle3.weights.gbWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle3.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle3.weights.eecWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle3.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle3.weights.designWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle3.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle3.tyres.tyreSize}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle3.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle3.tyres.plyRating}}
                    <div style='font-size:14px;text-align:center; white-space: nowrap;'>
                        <strong>{{plateData.axles.axle3.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle3.tyres.fitmentCode}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle3.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:12px;text-align:center;'>Axle 4</p>
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle4.weights.gbWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle4.weights.gbWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle4.weights.eecWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle4.weights.eecWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle4.weights.designWeight}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle4.weights.designWeight}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="2"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle4.tyres.tyreSize}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle4.tyres.tyreSize}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td colspan="3"
                style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle4.tyres.plyRating}}
                    <div style='font-size:14px;text-align:center; white-space: nowrap;'>
                        <strong>{{plateData.axles.axle4.tyres.plyRating}}</strong>
                    </div>
                {{else}}
                    <br/>
                {{/if}}
            </td>
            <td style="padding: 10px; border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                {{#if plateData.axles.axle4.tyres.fitmentCode}}
                    <p style='font-size:15px;text-align:center;'>
                        <strong>{{plateData.axles.axle4.tyres.fitmentCode}}</strong>
                    </p>
                {{else}}
                    <br/>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: top;">
                <p style='font-size:15px;text-align:center;'>
                    <strong style="font-size:12px;">Maximum Kingpin Load</strong></p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:11px;">(Semi-Trailers Only)</span></p>
            </td>
            <td colspan="3"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;background: rgb(165, 165, 165);vertical-align: top;">
            </td>
            <td colspan="2"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: middle;">
                <p style='font-size:15px;text-align:center;'>
                    <strong>{{plateData.maxLoadOnCoupling}}</strong>
                </p>
            </td>
            <td colspan="6"
                style="border-top: none;border-left: none;border-bottom: 1px solid black;border-right: 1px solid black;vertical-align: top;">
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:12px;">*&rsquo;S&rsquo; indicates single wheels</span>
                </p>
                <p style='font-size:15px;text-align:center;'>
                    <span style="font-size:12px;">&lsquo;D&rsquo; indicates dual wheels</span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="13"
                style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;border-image: initial;border-top: none;vertical-align: top;">
                <div style="height:280px; background: rgb(165, 165, 165);">
                    <div style="height: 10%;">
                        <div style="width: 35%; float: right">
                            <div style="width: 75%; float: left; display: inline">
                                <p style="font-size: 10px; padding-top: 10px">
                                    Tyre use conditions applicable to vehicle (See note 12)
                                </p>
                            </div>
                            <div style="width: 25%; display: inline; text-align: center;">
                                <p style="padding-top: 10px; font-weight: bold;">
                                    {{plateData.axles.axle1.tyres.tyreUseCode}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div
                            style="border: 0.5px solid black; height: 40%; margin: 10px 10px 5px 10px; font-size: 10.7px; padding: 5px; background-color: white">
                        <p>NOTIFIABLE ALTERATIONS (Section 51 (1) (d) of the Road Traffic Act 1988)</p>
                        <p style="padding-bottom: 10px;">The following alterations in the vehicle or the equipment must
                            be notified to the Secretary of State. (See notes 9 to 11)</p>
                        <p>(a) &nbsp; An alteration made in the structure or fixed equipment of the vehicle which
                            carries the carrying capacity or towing capacity of the vehicle;</p>
                        <p>(b) &nbsp; An alteration, affecting any part of a braking system or the steering system with
                            which the vehicle is equipped or of the means of the operation of that system; of</p>
                        <p>(c) &nbsp; Any other alteration made in the structure or fixed equipment of the vehicle which
                            renders or is likely to render the vehicle unsafe to travel on roads at any weight equal to
                            any weight shown in column (2) of the plating certificate.</p>
                    </div>
                    <div style="display: table; height: 35%; margin: 0px 10px 5px 10px; padding: 5px;">
                        <div style="width: 50%; display: table-cell;">
                            <div style="display: table; width: 100%;">
                                <div
                                        style="display: table-cell; background-color: white; border: 1px solid black; width:25%; font-size: 12px;">
                                    <p style="padding: 2px;">Vehicle Testing Station No.</p>
                                </div>
                                <div style="vertical-align: middle; display: table-cell; background-color: white;border: 1px solid black; width:25%;">
                                    <p style="text-align: center;">H999</p>
                                </div>
                                <div style="display: table-cell;"></div>
                                <div style="vertical-align: middle; display: table-cell; background-color: white; border: 1px solid black; width:25%; font-size: 12px;">
                                    <p style="padding: 2px; text-align: center; width: 45%; margin-left: 25%;">Date of
                                        Issue</p>
                                </div>
                                <div style="vertical-align: middle; display: table-cell; background-color: white; border: 1px solid black; width:25%; font-size: 13px;">
                                    <p style="text-align: center; font-weight: bold;">{{plateData.plateIssueDate}}</p>
                                </div>
                            </div>
                            <div style="display: table; width: 100%; border: 1px solid black; background-color: white; margin-top: 5px; height: 50%; ">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div style="background-color: black; width: 20px; height: 20px; margin-left: 50%;"></div>
                                </div>
                                <div style="display: table-cell; vertical-align: middle; width: 35%; ">
                                    <p style="font-size: 13px; text-align: center;">Signature</p>
                                </div>
                                <div style="display: table-cell; vertical-align: middle; width: 50%; ">
                                    <img style="height: 40%; margin-left: 10%; padding-top: 2%;" src="./semnatura.png"/>
                                </div>
                            </div>
                        </div>
                        <div style="width: 50%; display: table-cell;">
                            <div style="font-size: 12px; width: 80%; margin: auto;">
                                <p>
                                    The plated weights and other plated particulars specified in this plating
                                    certificate
                                    are those determined for the vehicle concerned under Sections 49, 57 &amp; 58 of the
                                    Road
                                    Traffic Act 1988 and the Regulations made under these Sections
                                    N.B. All weights in Kilograms &#8211; All Dimensions in Millimetres
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>