<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>MOT Inspection Sheet</title>
    <style type="text/css" media="print, screen">
        {{~>assets/stylesheets/inspection-checklist this }}
    </style>
</head>

<body>

<!-- certificate -->
<div class="certificate full-width">
    <div class="certificate__wrapper full-width">

        <!-- header -->
        <div class="full-width" style="position: relative; float: left;">
            <div class="float-left">
                <img src="{{root}}/assets/images/dvsa-crest-small.png" alt="DVSA" class="header__crest-img" />
            </div>

            <div class="float-right two-thirds-width">
                <div class="titles">
                    <h3>Class 3,4,5 &amp; 7 <span>&nbsp;&nbsp; MOT inspection sheet </span>
                    </h3>
                </div>
                <div class="details">
                    <ul class="details__list">
                        <li>
                            <p>Tester name:</p>
                            <span id="tester-name" class="details-input"> &nbsp;{{testerName}} </span>
                        </li>
                        <li class="clear">
                            <p>Date:</p>
                            <span id="date" class="details-input">{{date}}</span>
                        </li>
                        <li>
                            <p>Time:</p>
                            <span id="time" class="details-input">{{time}}</span>
                        </li>
                        <li>
                            <p>VTS:</p>
                            <span id="vts" class="details-input">{{vts}}</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /header -->

        <ul class="data-list">
            <li class="box-one">
                Registration mark
                <span id="reg">{{registrationMark}}</span>
            </li>
            <li class="box-two"> VIN
                <span id="vin">{{vin}}</span>
            </li>
            <li class="box-three"> Make / Model
                <span id="make-model">{{makeAndModel}}</span>
            </li>
        </ul>
        <ul class="data-list data-list--five">
            <li>
                EU category
                <span id="eu-category">{{euCategory}}</span>
            </li>
            <li> Cylinder capacity
                <span id="cylinder-capacity">{{cylinderCapacity}}</span>
            </li>
            <li> Odometer reading
                <span>      </span>
            </li>
            <li> Date of first use
                <span id="first-use">{{firstUse}}</span>
            </li>
            <li> Brake weight
                <span id="brake-weight">{{brakeWeight}}</span>
            </li>
        </ul>

        <div class="section">
            <div class="section-heading">
                <p><strong>Items</strong></p>
            </div>

            <div class="section-lines">
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>

        <div class="full-width">
            <div class="footer">

                <div class="one-third-width float-left">
                    <div class="table-wrapper right-hand-spacing">
                        <table class="full-width clear">
                            <tr>
                                <th colspan="2">Service brake</th>
                                <td class="one-quarter-width">Lock</td>
                            </tr>
                            <tr>
                                <td class="one-third-width">Axle 1 N/S</td>
                                <td></td>
                                <td class="one-quarter-width"></td>
                            </tr>
                            <tr>
                                <td class="one-third-width">Axle 1 O/S</td>
                                <td></td>
                                <td class="one-quarter-width"></td>
                            </tr>
                            <tr>
                                <td class="one-third-width">Axle 2 N/S</td>
                                <td></td>
                                <td class="one-quarter-width"></td>
                            </tr>
                            <tr>
                                <td class="one-third-width">Axle 2 O/S</td>
                                <td></td>
                                <td class="one-quarter-width"></td>
                            </tr>
                            <tr class="total-row">
                                <td class="one-third-width">Total</td>
                                <td></td>
                                <td class="one-quarter-width"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="two-thirds-width-end float-left">
                    <div class="one-half-width float-left">
                        <div class="table-wrapper right-hand-spacing">
                            <table>
                                <tr>
                                    <th colspan="2">Parking brake</th>
                                    <td class="one-quarter-width">Lock</td>
                                </tr>
                                <tr>
                                    <td class="one-third-width">N/S</td>
                                    <td></td>
                                    <td class="one-quarter-width"></td>
                                </tr>
                                <tr>
                                    <td class="one-third-width">O/S</td>
                                    <td></td>
                                    <td class="one-quarter-width"></td>
                                </tr>
                                <tr>
                                    <td class="one-third-width">Total</td>
                                    <td></td>
                                    <td class="one-quarter-width"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="one-half-width float-left">
                        <div class="table-wrapper">
                            <table>
                                <tr>
                                    <th class="full width" colspan="2">Imbalance</th>
                                </tr>
                                <tr>
                                    <td class="one-half-width">Axle 1 N/S</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="one-half-width">Axle 1 O/S</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="one-half-width">Difference</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="full-width float-left clear top-spacing">
                        <div class="table-wrapper">
                            <table>
                                <tr>
                                    <th colspan="6">Results</th>
                                </tr>
                                <tr>
                                    <td class="one-sixth-width">Service</td>
                                    <td class="one-sixth-width"></td>
                                    <td class="one-sixth-width">Park</td>
                                    <td class="one-sixth-width"></td>
                                    <td class="one-sixth-width">Imbalance</td>
                                    <td class="one-sixth-width"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /certificate -->
</body>

</html>