<!-- results__item -->
<div class="results__item" id="result-item-{{@index}}">

    <!-- results__heading-and-first-item -->
    <div class="results__heading-and-first-item">
        {{#if euCompliantNumber}}
            <h2 class="results__heading">
              <span class="results__heading-left">
                <span class="circle-text">
                  <span class="circle-text__number">{{euCompliantNumber}}</span>
                </span>
              </span>
                {{#if isDangerous}}
                    <span class="results__heading-right results__heading-right--has-icon">
                <span class="results__heading-message">
                  {{title}}
                    <span class="results__heading-icon">
                    <img src="{{@root.root}}/assets/images/exclamation-mark.png" class="results__heading-icon-img"/>
                  </span>
                </span>
              </span>
                {{else}}
                    <span class="results__heading-right">
                <span class="results__heading-message">
                    {{title}}
                </span>
              </span>
                {{/if}}
            </h2>
        {{else}}
            <h2 class="results__heading results__heading--without-number">
              <span class="results__heading-message">
                  {{title}}
              </span>
            </h2>
        {{/if}}

        <!-- results__list -->
        {{#if firstItem}}
            <ul class="results__list results__list--first">
                <li class="results__list-item">
                <span class="results__list-text">
                    {{firstItem}}
                </span>
                </li>
            </ul>
        {{/if}}
        <!-- /results__list -->
    </div>
    <!-- /results__heading-and-first-item -->

    {{#if otherItems}}
        <!-- results__list -->
        <ul class="results__list results__list--second">
            {{#each otherItems}}
                <li class="results__list-item">
              <span class="results__list-text">
                  {{this}}
              </span>
                </li>
            {{/each}}
        </ul>
        <!-- /results__list -->
    {{/if}}
</div>
<!-- /results__item -->
