<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>VT29 - Inspection checklist</title>
    <style type="text/css" media="print, screen">
            {{~> assets/stylesheets/checklist this}}
    </style>
</head>
<body>

<div class="footer footer--first-page">
    <div class="footer__wrapper">

        <div class="footer__bottom">
            <div class="footer__bottom-one">
                <!-- required placeholder -->
            </div>
            <div class="footer__bottom-two">
                <!-- required placeholder -->
            </div>
            <div class="footer__bottom-three">
                <!-- required placeholder -->
            </div>
        </div>
        <div class="footer__certificate-tag">
            <span id="footer-doc-name" class="footer__certificate-tag-text">
                VT29/Handwritten/1.1
            </span>
        </div>
    </div>
</div>

<!-- certificate -->
<div class="certificate">
    <div class="certificate__wrapper">

        <!-- header -->
        <div class="full-width" style="position: relative">
            <div class="float-left">
                <img src="{{root}}/assets/images/dvsa-crest-small.png" alt="DVSA" class="header__crest-img"/>
            </div>

            <div class="float-right">
                <h1 id="vrm" class="float-right">{{vrm}}</h1>
                <div class="float-right clearfix make-model-width">
                    <ul class="data-list float-right make-model-width">
                        <li class="make-model-width" >Make / Model
                            <span id="makeModel">{{makeAndModel}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /header -->

        <div class="full-width" style="clear: both;">
            <ul class="data-list data-list--four">
                <li>
                    MOT Test Number
                    <span id="testNumber">{{testNumber}}</span>
                </li>
                <li>Odometer reading
                    <span id="odometerReading">{{odometerReading}}</span>
                </li>
                <li>Vehicle Identification Number
                    <span id="vin">{{vin}}</span>
                </li>
                <li>Date of First Use
                    <span id="dateOfFirstUse">{{dateOfFirstUse}}</span>
                </li>
            </ul>
        </div>

        <table class="full-width checklist-table" style="clear: both; margin-bottom: 5px">
            <tr>
                <th class="large-row">Items to be tested</th>
                <th class="small-row">Pass</th>
                <th class="small-row">Fail</th>
                <th class="large-row">Defects/Comments</th>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="section-title"><strong>Interior checks</strong></span></td>
                <td class="combined-row" colspan="2"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Seats and seat belts</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Warning lamps</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Switches (position lamp, headlamp, hazards)</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">View to front, wipers and washers</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Brake controls, servo operation</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Steering wheel and column</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Doors, mirrors, horn</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row bottom-border"><span class="padded">Speedometer, driver controls (Class 5 only)</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="section-title"><strong>Exterior checks</strong></span></td>
                <td class="combined-row" colspan="2"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Registration plates</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Lamps, registration plate lamps</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Indicators, hazards</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Headlamps &amp; aim</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Stop lamps, fog lamps, reflectors</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Wheels, tyres</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Shock absorbers</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Mirrors, wiper blades, fuel tank cap</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Glazing (Class 5 only)</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Doors, boot lid, loading doors, bonnet</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Towbars</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row bottom-border"><span class="padded">General condition of body</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="section-title"><strong>Under bonnet checks</strong></span></td>
                <td class="combined-row" colspan="2"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Vehicle structure</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Braking systems</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Exhaust systems, fuel system</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Speed limiter (if applicable)</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Steering &amp; power steering components</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row bottom-border"><span class="padded">Suspension components</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="section-title"><strong>Under vehicle checks</strong></span></td>
                <td class="combined-row" colspan="2"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Steering including power steering</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Drive shafts (if applicable)</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Suspension, shock absorbers</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Wheel bearings</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Wheels &amp; tyres</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Brake systems &amp; mechanical components</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Exhaust system</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="padded">Fuel system &amp; fuel tank</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row bottom-border"><span class="padded">Structure, general vehicle condition</span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row bottom-border"></td>
            </tr>
            <tr>
                <td class="large-row no-bottom-border"><span class="section-title"><strong>Emissions</strong></span></td>
                <td class="small-row"></td>
                <td class="small-row"></td>
                <td class="large-row no-bottom-border"></td>
            </tr>
        </table>

        <div class="full-width">
            <div class="one-third-width float-left" style="margin-right:5px">
                <table class="full-width brake-results-table">
                    <tr>
                        <th colspan="2">Service brake</th>
                        <td class="one-third-width text-align-center">Lock</td>
                    </tr>
                    <tr>
                        <td class="one-third-width"><span class="section-title">Axle 1 N/S</span></td>
                        <td class="one-third-width"></td>
                        <td class="one-third-width"></td>
                    </tr>
                    <tr>
                        <td class="one-third-width"><span class="section-title">Axle 1 O/S</span></td>
                        <td class="one-third-width"></td>
                        <td class="one-third-width"></td>
                    </tr>
                    <tr>
                        <td class="one-third-width"><span class="section-title">Axle 2 N/S</span></td>
                        <td class="one-third-width"></td>
                        <td class="one-third-width"></td>
                    </tr>
                    <tr>
                        <td class="one-third-width"><span class="section-title">Axle 2 O/S</span></td>
                        <td class="one-third-width"></td>
                        <td class="one-third-width"></td>
                    </tr>
                    <tr class="total-row">
                        <td class="one-third-width" style="padding-top:11px; padding-bottom-11px;"><span class="section-title">Total</span></td>
                        <td class="one-third-width"></td>
                        <td class="one-third-width"></td>
                    </tr>
                </table>
            </div>

            <div class="two-thirds-width float-left" style="margin-bottom:5px">
                <div class="one-half-width-bottom-table float-left" style="margin-right:5px">
                    <table class="full-width float-left brake-results-table">
                        <tr>
                            <th colspan="2">Parking brake</th>
                            <td class="one-third-width text-align-center">Lock</td>
                        </tr>
                        <tr>
                            <td class="one-third-width"><span class="section-title">N/S</span></td>
                            <td class="one-third-width"></td>
                            <td class="one-third-width"></td>
                        </tr>
                        <tr>
                            <td class="one-third-width"><span class="section-title">O/S</span></td>
                            <td class="one-third-width"></td>
                            <td class="one-third-width"></td>
                        </tr>
                        <tr>
                            <td class="one-third-width"><span class="section-title">Total</span></td>
                            <td class="one-third-width"></td>
                            <td class="one-third-width"></td>
                        </tr>
                    </table>
                </div>
                <div class="one-half-width-bottom-table float-right">
                <table class="full-width float-right brake-results-table">
                    <tr>
                        <th class="text-align-center" colspan="3">Imbalance</th>
                    </tr>
                    <tr>
                        <td class="one-third-width"><span class="section-title">Axle 1 N/S</span></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="one-third-width"><span class="section-title">Axle 1 O/S</span></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="one-third-width"><span class="section-title">Difference</span></td>
                        <td colspan="2"></td>
                    </tr>
                </table>
                </div>
                <table class="full-width float-left clear brake-results-table" style="margin-top: 6px">
                    <tr>
                        <th colspan="6">Results</th>
                    </tr>
                    <tr>
                        <td class="one-sixth-width"><span class="section-title">Service</span></td>
                        <td class="one-sixth-width"></td>
                        <td class="one-sixth-width"><span class="section-title">Parking</span></td>
                        <td class="one-sixth-width"></td>
                        <td class="one-sixth-width"><span class="section-title">Imbalance</span></td>
                        <td class="one-sixth-width"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /certificate -->
</body>
</html>
