<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{{title}}</title>
    <style type="text/css" media="print, screen">
        {{~> assets/stylesheets/version-2 this}}
    </style>
</head>

<body>
 <!--running-header -->

 {{~> views/MOT/component/watermarkComponent watermark=watermark}}

 <!-- footer -->
<!-- This duplicate one is required as it is different on the first page -->
 <div class="footer footer--first-page">
     <div class="footer__wrapper">
         <div class="footer__top">
             <div class="footer__top-signature-line"></div>
         </div>

         <div class="footer__bottom">
             <div class="footer__bottom-one">
                 <!-- required placeholder -->
             </div>

             <div class="footer__bottom-two">
                 <div class="footer__bottom-page-counter">
          <span class="footer__bottom-page-counter-text">
            Tudalen
          </span>
                     <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--page-number"></span>
                     <span class="footer__bottom-page-counter-text">
            o
          </span>
                     <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--pages-count"></span>
                 </div>
             </div>

             <div class="footer__bottom-three">
                 <div class="footer__signature">
          <span class="footer__signature-text">
            Llofnod y cyhoeddwr
          </span>
                 </div>
             </div>
         </div>

         <div class="footer__certificate-tag">
      <span class="footer__certificate-tag-text">
        VT30W/2.0
      </span>
         </div>
     </div>
 </div>
 <!-- /footer -->

 <!-- footer -->
 <div class="footer">
     <div class="footer__wrapper">
         <div class="footer__top">
             <div class="footer__top-signature-line"></div>
         </div>

         <div class="footer__bottom">
             <div class="footer__bottom-one">
        <span class="footer__bottom-light-text footer__bottom-light-text--vin">
          VIN: {{failData.rawVin}}
        </span>
             </div>

             <div class="footer__bottom-two">
                 <div class="footer__bottom-page-counter">
          <span class="footer__bottom-page-counter-text">
            Tudalen
          </span>
                     <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--page-number"></span>
                     <span class="footer__bottom-page-counter-text">
            o
          </span>
                     <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--pages-count"></span>
                 </div>
             </div>

             <div class="footer__bottom-three">
                 <div class="footer__signature">
          <span class="footer__signature-text">
            Llofnod y cyhoeddwr
          </span>
                 </div>
             </div>
         </div>

         <div class="footer__certificate-tag">
      <span class="footer__certificate-tag-text">
        VT30W/2.0
      </span>
         </div>
     </div>
 </div>
<!-- /footer -->

<!-- certificate -->
<div class="certificate">
  <div class="certificate__wrapper">
    
    <!-- header -->
    <div class="header">
      <div class="header__left">
        <h1 class="header__title">
            Gwrthodiad tystysgrif prawf MOT
        </h1>

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">1</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Rhif adnabod y cerbyd
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="vin">
            {{failData.rawVin}}
          </span>
        </div>
        <!-- /heading-info -->

        <!-- header__two-columns -->
        <div class="header__two-columns">
          <div class="header__two-columns-one">
            <!-- heading-info -->
            <div class="heading-info">
              <h2 class="heading-info__title">
                <span class="heading-info__title-left">
                  <span class="circle-text">
                    <span class="circle-text__number">2a</span>
                  </span>
                </span>
                <span class="heading-info__title-right">
                  <span class="heading-info__title-message">
                    Rhif cofrestru
                  </span>
                </span>
              </h2>
              <span class="heading-info__content" id="reg-number">
                {{failData.rawVrm}}
              </span>
            </div>
            <!-- /heading-info -->
          </div>

          <div class="header__two-columns-two">
            <!-- heading-info -->
            <div class="heading-info">
              <h2 class="heading-info__title">
                <span class="heading-info__title-left">
                  <span class="circle-text">
                    <span class="circle-text__number">2b</span>
                  </span>
                </span>
                <span class="heading-info__title-right">
                  <span class="heading-info__title-message">
                    Gwlad y cofrestru
                  </span>
                </span>
              </h2>
              <span class="heading-info__content" id="country">
                {{failData.countryOfRegistrationCodeFormatted}}
              </span>
            </div>
            <!-- /heading-info -->
          </div>
        </div>
        <!-- /header__two-columns -->

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-message">
              Math a model
            </span>
          </h2>
          <span class="heading-info__content" id="make-model">
            {{failData.make}} {{failData.model}}
          </span>
        </div>
        <!-- /heading-info -->        
      </div>

      <div class="header__right">
          <img src="{{root}}/assets/images/dvsa-crest-welsh-v2.png" alt="DVSA Crown" class="header__logo" id="logo-welsh"/>
      </div>

      <div class="clearfix"></div>

      <!-- header__three-columns -->
      <div class="header__three-columns">
        <div class="header__three-columns-one">
          <!-- heading-info -->
          <div class="heading-info">
            <h2 class="heading-info__title">
              <span class="heading-info__title-left">
                <span class="circle-text">
                  <span class="circle-text__number">5</span>
                </span>
              </span>
              <span class="heading-info__title-right">
                <span class="heading-info__title-message">
                  Categori’r cerbyd
                </span>
              </span>
            </h2>
            <span class="heading-info__content" id="vehicle-category">
                {{failData.vehicleEuClassification}}
            </span>
          </div>
          <!-- /heading-info -->
        </div>

        <div class="header__three-columns-two">
          <!-- heading-info -->
          <div class="heading-info">
            <h2 class="heading-info__title">
              <span class="heading-info__title-left">
                <span class="circle-text">
                  <span class="circle-text__number">4</span>
                </span>
              </span>
              <span class="heading-info__title-right">
                <span class="heading-info__title-message">
                  Milltiroedd
                </span>
              </span>
            </h2>
            <span class="heading-info__content" id="mileage">
                {{failData.formattedCurrentOdometerCy}}
            </span>
          </div>
          <!-- /heading-info -->
        </div>

        {{#if failData.odometerHistoryList}}
        <div class="header__three-columns-three">
          <!-- heading-info -->
          <div class="heading-info">
            <h2 class="heading-info__title">
              <span class="heading-info__title-message">
                Hanes y milltiroedd
              </span>
            </h2>
            <div class="heading-info__content" id="mileage-history">
              <!-- header__histories -->
              <ul class="header__histories">
                {{#each failData.mileageHistoryCy}}
                <li class="header__history">
                  <div class="header__history-left">
                    <span class="header__history-mileage">
                        {{this.value}}
                    </span>
                  </div>
                  <div class="header__history-right">
                    <span class="header__history-date">
                        {{this.date}}
                    </span>
                  </div>
                </li>
                {{/each}}
              </ul>
              <!-- /header__histories -->
            </div>
          </div>
          <!-- /heading-info -->
        </div>
        {{/if}}
      </div>
      <!-- header__three-columns -->
    </div>
    <!-- /header -->

      <!-- results -->
      <div class="results results--welsh">
          <div class="results__wrapper">
              {{#if failData.summaryCy.present}}
                  {{~> views/MOT/reasonsForRejection failData.summaryCy}}
              {{/if}}
              {{#if failData.reasonForCancelResultItemCy.present}}
                  {{~> views/MOT/reasonsForRejection failData.reasonForCancelResultItemCy}}
              {{/if}}
              {{#if failData.dangerousCy.present}}
                  {{~> views/MOT/reasonsForRejection failData.dangerousCy}}
              {{/if}}
              {{#if failData.majorCy.present}}
                  {{~> views/MOT/reasonsForRejection failData.majorCy}}
              {{/if}}
              {{#if failData.minorCy.present}}
                  {{~> views/MOT/reasonsForRejection failData.minorCy}}
              {{/if}}
              {{#if failData.advisoryCy.present}}
                  {{~> views/MOT/reasonsForRejection failData.advisoryCy}}
              {{/if}}
          </div>
      </div>
      <!-- /results -->

    <!-- test-information -->
    <div class="test-information">
      <div class="test-information__wrapper">
        
        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">3b</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Dyddiad y prawf
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="date-of-test">
              {{failData.formattedDateOfTheTest}}
          </span>
        </div>
        <!-- /heading-info -->
        
        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">3a</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Lleoliad y prawf
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="location-of-test">
              {{failData.testStationAddressLine}}
          </span>
        </div>
        <!-- /heading-info -->

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">9</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Sefydliad sy’n profi ac enw’r arolygydd
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="organisation-and-inspection-name">
              {{failData.testStation}}&nbsp;&nbsp;&nbsp;&nbsp;{{failData.testStationName}}
              <br/>
              {{failData.issuersName}}
          </span>
        </div>
        <!-- /heading-info -->

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-message">
              Rhif prawf MOT
            </span>
          </h2>
          <span class="heading-info__content" id="mot-test-number">
              {{failData.welshFormattedTestNumber}}
          </span>
        </div>
        <!-- /heading-info -->

      {{#if certificateIssuerInfoCy}}
          <p class="test-information__message test-information__message--limit-width" id="issuer-info">
              {{certificateIssuerInfoCy}}
          </p>
      {{/if}}

        <div class="util-avoid-page-break-inside">
            <p class="test-information__message test-information__message--limit-width">
              I wybod rhagor ynghylch ail brofi, neu os ydych yn anghytuno â chanlyniad y prawf, gweler y poster yn nodi’r ffioedd ac apeliadau yn yr orsaf lle profir cerbydau. Fel arall, ewch i <a class="test-information__message-link" href="www.gov.uk/getting-an-mot">www.gov.uk/getting-an-mot</a>
            </p>

            <p class="test-information__message test-information__message--limit-width">
              Os oes unrhyw fanylion nad ydynt yn gywir dylech gysylltu â’r DVSA trwy <br/>e-bostio <a class="test-information__message-link" href="mailto:enquiries@dvsa.gov.uk">enquiries@dvsa.gov.uk</a> neu trwy ffonio 0300 1239000.
            </p>

            <p class="test-information__message test-information__message--limit-width">
              Medrwch ganfod mwy am hanes MOT y cerbyd trwy <br/>fynd i <a class="test-information__message-link" href="www.gov.uk/check-mot-history">www.gov.uk/check-mot-history</a>
            </p>
        </div>

      </div>
    </div>
    <!-- /test-information -->

  </div>
</div>
</body>
</html>
<!-- /certificate -->
