<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{{title}}</title>
    <style type="text/css" media="print, screen">
        {{~> assets/stylesheets/version-2 this}}
    </style>
</head>

<body>

{{~> views/MOT/component/watermarkComponent watermark=watermark}}


<!-- footer -->
<!-- This duplicate one is required as it is different on the first page -->
<div class="footer footer--first-page">
    <div class="footer__wrapper">
        <div class="footer__top">
            <div class="footer__top-signature-line"></div>
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-one">
                <!-- required placeholder -->
            </div>

            <div class="footer__bottom-two">
                <div class="footer__bottom-page-counter">
          <span class="footer__bottom-page-counter-text">
            Page
          </span>
                    <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--page-number"></span>
                    <span class="footer__bottom-page-counter-text">
            of
          </span>
                    <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--pages-count"></span>
                </div>
            </div>

            <div class="footer__bottom-three">
                <div class="footer__signature">
          <span class="footer__signature-text">
            Inspector signature
          </span>
                </div>
            </div>
        </div>

        <div class="footer__certificate-tag">
      <span class="footer__certificate-tag-text">
        VT30/2.0
      </span>
        </div>
    </div>
</div>
<!-- /footer -->

<!-- footer -->
<div class="footer">
    <div class="footer__wrapper">
        <div class="footer__top">
            <div class="footer__top-signature-line"></div>
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-one">
        <span class="footer__bottom-light-text footer__bottom-light-text--vin">
          VIN: {{data.rawVin}}
        </span>
            </div>

            <div class="footer__bottom-two">
                <div class="footer__bottom-page-counter">
          <span class="footer__bottom-page-counter-text">
            Page
          </span>
                    <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--page-number"></span>
                    <span class="footer__bottom-page-counter-text">
            of
          </span>
                    <span class="footer__bottom-page-counter-text footer__bottom-page-counter-text--pages-count"></span>
                </div>
            </div>

            <div class="footer__bottom-three">
                <div class="footer__signature">
          <span class="footer__signature-text">
            Inspector signature
          </span>
                </div>
            </div>
        </div>

        <div class="footer__certificate-tag">
      <span class="footer__certificate-tag-text">
        VT30/2.0
      </span>
        </div>
    </div>
</div>
<!-- /footer -->

<!-- certificate -->
<div class="certificate">
  <div class="certificate__wrapper">

    <!-- header -->
    <div class="header">
      <div class="header__left">
        <h1 class="header__title">
          Refusal of MOT test certificate
        </h1>

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">1</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Vehicle identification number
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="vin">
            {{data.rawVin}}
          </span>
        </div>
        <!-- /heading-info -->

        <!-- header__two-columns -->
        <div class="header__two-columns">
          <div class="header__two-columns-one">
            <!-- heading-info -->
            <div class="heading-info">
              <h2 class="heading-info__title">
                <span class="heading-info__title-left">
                  <span class="circle-text">
                    <span class="circle-text__number">2a</span>
                  </span>
                </span>
                <span class="heading-info__title-right">
                  <span class="heading-info__title-message">
                    Registration number
                  </span>
                </span>
              </h2>
              <span class="heading-info__content" id="reg-number">
                {{data.rawVrm}}
              </span>
            </div>
            <!-- /heading-info -->
          </div>

          <div class="header__two-columns-two">
            <!-- heading-info -->
            <div class="heading-info">
              <h2 class="heading-info__title">
                <span class="heading-info__title-left">
                  <span class="circle-text">
                    <span class="circle-text__number">2b</span>
                  </span>
                </span>
                <span class="heading-info__title-right">
                  <span class="heading-info__title-message">
                    Country of registration
                  </span>
                </span>
              </h2>
              <span class="heading-info__content" id="country">
                {{data.countryOfRegistrationCodeFormatted}}
              </span>
            </div>
            <!-- /heading-info -->
          </div>
        </div>
        <!-- /header__two-columns -->

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-message">
              Make and model
            </span>
          </h2>
          <span class="heading-info__content" id="make-model">
            {{data.make}} {{data.model}}
          </span>
        </div>
        <!-- /heading-info -->
      </div>

      <div class="header__right">
        <img src="{{root}}/assets/images/dvsa_crest.png" alt="DVSA Crown" class="header__logo"/>
      </div>

      <div class="clearfix"></div>

      <!-- header__three-columns -->
      <div class="header__three-columns">
        <div class="header__three-columns-one">
          <!-- heading-info -->
          <div class="heading-info">
            <h2 class="heading-info__title">
              <span class="heading-info__title-left">
                <span class="circle-text">
                  <span class="circle-text__number">5</span>
                </span>
              </span>
              <span class="heading-info__title-right">
                <span class="heading-info__title-message">
                  Vehicle category
                </span>
              </span>
            </h2>
            <span class="heading-info__content" id="vehicle-category">
              {{data.vehicleEuClassification}}
            </span>
          </div>
          <!-- /heading-info -->
        </div>

        <div class="header__three-columns-two">
          <!-- heading-info -->
          <div class="heading-info">
            <h2 class="heading-info__title">
              <span class="heading-info__title-left">
                <span class="circle-text">
                  <span class="circle-text__number">4</span>
                </span>
              </span>
              <span class="heading-info__title-right">
                <span class="heading-info__title-message">
                  Mileage
                </span>
              </span>
            </h2>
            <span class="heading-info__content" id="mileage">
              {{data.formattedCurrentOdometer}}
            </span>
          </div>
          <!-- /heading-info -->
        </div>

        {{#if data.odometerHistory}}
        <div class="header__three-columns-three">
          <!-- heading-info -->
          <div class="heading-info">
            <h2 class="heading-info__title">
              <span class="heading-info__title-message">
                Mileage history
              </span>
            </h2>
            <div class="heading-info__content" id="mileage-history">
              <!-- header__histories -->
              <ul class="header__histories">
                {{#each data.odometerHistory}}
                <li class="header__history">
                  <div class="header__history-left">
                    <span class="header__history-mileage">
                      {{#if data.odometer}}{{data.odometer}}{{/if}}
                    </span>
                  </div>
                  <div class="header__history-right">
                    <span class="header__history-date">
                      {{#if data.odometer}}{{data.date}}{{/if}}
                    </span>
                  </div>
                </li>
                {{/each}}
              </ul>
              <!-- /header__histories -->
            </div>
          </div>
          <!-- /heading-info -->
        </div>
        {{/if}}
      </div>
      <!-- header__three-columns -->
    </div>
    <!-- /header -->

    <!-- results -->
    <div class="results">
      <div class="results__wrapper">
          {{~> views/MOT/reasonsForRejection data.summary}}
          {{#if data.dangerous.present}}
            {{~> views/MOT/reasonsForRejection data.dangerous}}
          {{/if}}
          {{#if data.major.present}}
            {{~> views/MOT/reasonsForRejection data.major}}
          {{/if}}
          {{#if data.minor.present}}
            {{~> views/MOT/reasonsForRejection data.minor}}
          {{/if}}
          {{#if data.advisory.present}}
            {{~> views/MOT/reasonsForRejection data.advisory}}
          {{/if}}
      </div>
    </div>
    <!-- /results -->

    <!-- test-information -->
    <div class="test-information">
      <div class="test-information__wrapper">

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">3b</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Date of the test
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="date-of-test">
            {{data.formattedDateOfTheTest}}
          </span>
        </div>
        <!-- /heading-info -->

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">3a</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Location of the test
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="location-of-test">
            {{data.testStation}}
            <br/>
            {{data.testStationAddressLine}}
          </span>
        </div>
        <!-- /heading-info -->

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-left">
              <span class="circle-text">
                <span class="circle-text__number">9</span>
              </span>
            </span>
            <span class="heading-info__title-right">
              <span class="heading-info__title-message">
                Testing organisation and inspector name
              </span>
            </span>
          </h2>
          <span class="heading-info__content" id="organisation-and-inspection-name">
            {{data.authorisedExaminer}}
              <br/>
            {{data.issuersName}}
          </span>
        </div>
        <!-- /heading-info -->

        <!-- heading-info -->
        <div class="heading-info">
          <h2 class="heading-info__title">
            <span class="heading-info__title-message">
              MOT test number
            </span>
          </h2>
          <span class="heading-info__content" id="mot-test-number">
            {{data.formattedTestNumber}}
          </span>
        </div>
        <!-- /heading-info -->

        {{#if certificateIssuerInfo}}
            <p class="test-information__message test-information__message--limit-width" id="issuer-info">
              {{certificateIssuerInfo}}
            </p>
        {{/if}}
          <div class="util-avoid-page-break-inside">

              <p class="test-information__message test-information__message--limit-width">
              To find out about retests, or if you disagree with the test result, see the fees and appeals poster at the vehicle testing station. Alternatively, visit <br/><a class="test-information__message-link" href="www.gov.uk/getting-an-mot">www.gov.uk/getting-an-mot</a>
            </p>

            <p class="test-information__message">
              If any of the details are not correct, please contact DVSA by email at <br/><a class="test-information__message-link" href="mailto:enquiries@dvsa.gov.uk">enquiries@dvsa.gov.uk</a> or by telephone on 0300 1239000.
            </p>

            <p class="test-information__message">
              Find out about the vehicle’s MOT history at <a class="test-information__message-link" href="www.gov.uk/check-mot-history">www.gov.uk/check-mot-history</a>
            </p>
          </div>

      </div>
    </div>
    <!-- /test-information -->

  </div>
</div>
<!-- /certificate -->
</body>
</html>
