<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Advisory Notice</title>
  <style type="text/css" media="print, screen">
      {{~> assets/stylesheets/version-1 this}}
  </style>
</head>

<body>
<!-- certificate -->
<div class="certificate">
  <div class="certificate__wrapper">
    
    <!-- header -->
    <div class="header header--single-line-crest-message">
      <div class="header__crest">
        <img src="{{root}}/assets/images/dvsa-crest-1.1.png" alt="DVSA" class="header__crest-img" id="logo"/>
      </div>

      {{#if watermark}}
        <div class="header__crest-message">
          <span class="header__crest-message-text">
              {{watermark}}
          </span>
        </div>
      {{/if}}

      <div class="header__title">
        <h1 class="header__title-text">
          Advisory Notice
        </h1>
      </div>
    </div>
    <!-- /header -->

    <!-- boxes -->
    <div class="boxes">
      
      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            MOT Test Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="mot-test-number">
                {{failData.testNumber}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Vehicle Registration Mark
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="reg-number">
                {{failData.rawVrm}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Vehicle Identification Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="vin">
                {{failData.rawVin}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Make
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="make">
                {{failData.make}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Model
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="model">
                {{failData.model}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Odometer Reading
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="mileage">
                {{failData.odometer}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--full boxes__item--vt32-large boxes__item--negative-margin-top">
          <div class="boxes__item-box">
            <div class="boxes__item-content" id="defects">
              {{#each defectElements}}
              <span class="boxes__item-text">
                {{{this}}}
              </span>
              {{/each}}
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

    </div>
    <!-- /boxes -->

    <!-- bottom -->
    <div class="bottom bottom--two-columns">
      <div class="bottom__column">
        <!-- boxes -->
        <div class="boxes">
          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-half boxes__item--small">
              <span class="boxes__item-title">
                Signature of Issuer
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->
        </div>
        <!-- /boxes -->

        <div class="bottom__inner">
          <h2 class="bottom__heading bottom__heading--small-margin-bottom">
            About this document
          </h2>

          <p class="bottom__paragraph bottom__paragraph--no-margin">
            1 As part of the continuing quality control measures of the MOT Scheme your vehicle has been re-examined by a Vehicle Examiner from DVSA following the completion of the MOT test by the Vehicle Testing Station. This document records the Vehicle Examiners findings.
          </p>

          <p class="bottom__paragraph bottom__paragraph--no-margin">
            2 For further information about this document or if you have any doubts about its validity please contact DVSA on 0300 123 9000*
          </p>

          <p class="bottom__paragraph bottom__paragraph--no-margin">
            *Your call may be monitored or recorded for lawful purposes.
          </p>
        </div>
      </div>

      <div class="bottom__column">
        <!-- boxes -->
        <div class="boxes">
          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-half boxes__item--extra-small">
              <span class="boxes__item-title">
                Issuer's name
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                  <span class="boxes__item-text" id="issuer-info">
                    {{failData.issuersName}}
                  </span>
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->

          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
              <span class="boxes__item-title">
                Issued
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                  <span class="boxes__item-text" id="issued-date">
                    {{failData.issuedDate}}
                  </span>
                </div>
              </div>
            </div>
            <!-- /box-item -->

            <!-- box-item -->
            <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
              <span class="boxes__item-title">
                Test Station
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                  <span class="boxes__item-text" id="test-station-id">
                    {{failData.testStation}}
                  </span>
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->

          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-half boxes__item--medium">
              <span class="boxes__item-title">
                Inspection Authority
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                  <span class="boxes__item-text" id="inspection-authority">
                    {{#each failData.inspectionAuthorityLines}}
                      <span class="boxes__item-text">
                        {{{tabulator this}}}
                      </span>
                    {{/each}}
                  </span>
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->
        </div>
        <!-- /boxes -->
      </div>
    </div>
    <!-- bottom -->

    <!-- footer -->
    <div class="footer">
      <div class="footer__inner">
        <div class="footer__inner-left">
          <span class="footer__text">
            VT32/VE/1.0
          </span>
        </div>

          <div class="footer__inner-right">
              <div class="footer__pagination">
            <span class="footer__pagination-text">
              Page
            </span>
                  <span class="footer__pagination-text">
                    {{currentPageNumber}}
                  </span>
                  <span class="footer__pagination-text">
              of
            </span>
                  <span class="footer__pagination-text">
                    {{maxPageNumber}}
                  </span>
              </div>
          </div>
      </div>
    </div>
    <!-- /footer -->

  </div>
</div>
<!-- /certificate -->
</body>
</html>
