<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Advisory Notice</title>
  <style type="text/css" media="print, screen">
      {{~> assets/stylesheets/version-1 this}}
  </style>
</head>

<body>
<!-- certificate -->
<div class="certificate">
  <div class="certificate__wrapper">
    
    <!-- header -->
    <div class="header header--welsh">
      <div class="header__crest header__crest--welsh">
        <img src="{{root}}/assets/images/dvsa-crest-1.1.png" alt="DVSA" class="header__crest-img" id="logo-welsh"/>
        <img src="{{root}}/assets/images/dvsa-crest-welsh.png" alt="DVSA" class="header__crest-img header__crest-img--welsh" id="logo"/>
      </div>

      {{#if watermark}}
        <div class="header__crest-message header__crest-message--welsh">
          <span class="header__crest-message-text">
            {{watermark}}
          </span>
        </div>
      {{/if}}

      <div class="header__title">
        <h1 class="header__title-text">
          <span class="header__title-english">
            Advisory Notice
          </span>

          <span class="header__title-welsh">
            Hysbysiad Ymgynghorol
          </span>
        </h1>
      </div>
    </div>
    <!-- /header -->

    <!-- boxes -->
    <div class="boxes">
      
      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <div class="boxes__item-space-above-title"></div>
          <span class="boxes__item-title">
            MOT Test Number / Rhif Prawf MOT
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="mot-test-number">
                {{failData.testNumber}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <div class="boxes__item-space-above-title"></div>
          <span class="boxes__item-title">
            Registration Mark / Marc Cofrestru
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="reg-number">
                {{failData.rawVrm}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Vehicle Identification Number
            <br/>
            Rhif Adnabod y Cerbyd
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="vin">
                {{failData.rawVin}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Make / Gwneuthuriad
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="make">
                {{failData.make}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Model
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="model">
                {{failData.model}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Odometer Reading / Darlleniad Odomedr
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text" id="mileage">
                {{failData.odometer}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--full boxes__item--welsh-vt32ve boxes__item--negative-margin-top">
          <div class="boxes__item-box">
            <div class="boxes__item-content" id="defects">
              {{#each defectElements}}
              <span class="boxes__item-text">
                {{{this}}}
              </span>
              {{/each}}
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

    </div>
    <!-- /boxes -->

    <!-- bottom -->
    <div class="bottom bottom--two-columns">
      <div class="bottom__column">
        <div class="bottom__inner bottom__inner--padding-top">
          <h2 class="bottom__heading bottom__heading--small-margin-bottom">
            About this document
          </h2>

          <p class="bottom__paragraph bottom__paragraph--no-margin">
            1 As part of the continuing quality control measures of the MOT Scheme your vehicle has been re-examined by a Vehicle Examiner from DVSA following the completion of the MOT test by the Vehicle Testing Station. This document records the Vehicle Examiners findings.
          </p>

          <p class="bottom__paragraph bottom__paragraph--no-margin">
            2 For further information about this document or if you have any doubts about its validity please contact DVSA on 0300 123 9000*
          </p>

          <p class="bottom__paragraph bottom__paragraph--no-margin bottom__paragraph--vt32ve-small-font-size">
            *Your call may be monitored or recorded for lawful purposes.
          </p>
        </div>

        <div class="bottom__inner bottom__inner--padding-top-large">
          <h2 class="bottom__heading bottom__heading--small-margin-bottom">
            Gwybodaeth am y ddogfen hon
          </h2>

          <p class="bottom__paragraph bottom__paragraph--no-margin">
            1 Fel rhan o fesyrau gorwchwylio ansawdd parhaol y cynllyn MOT mae eich cerbyd wedi ei ail-brofi gan Archwiliwr Cerbydau o Asiantaeth Safonau Gyrwyr a Cherbydau (DVSA) ar ôl cwblhau prawf MOT gan y Gorsaf Brofi Cerbydau. Mae’r ddogfen hon yn goflen o ddarganfyddiadau yr Archwiliwr Cerbydau.
          </p>

          <p class="bottom__paragraph bottom__paragraph--no-margin">
            2 I gael fwy o wybodawth am y ddogfen hon neu os oes gennych chi unrhyw amheuaeth am ei ddilysrwydd galwch Asiantaeth Safonau Gyrwyr a Cherbydau (DVSA) ar 0300 123 9000*
          </p>

          <p class="bottom__paragraph bottom__paragraph--no-margin bottom__paragraph--vt32ve-small-font-size">
            *Mae’n bosib i’ch galwad gael ei arolygu neu ei recordio am resymau cyfreithol
          </p>
        </div>
      </div>

      <div class="bottom__column">
        <!-- boxes -->
        <div class="boxes">
          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-half boxes__item--extra-small">
              <span class="boxes__item-title">
                Issuer's Name / Enw'r Cyhoeddwr
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                  <span class="boxes__item-text" id="issuer-info">
                    {{failData.issuersName}}
                  </span>
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->

          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-half boxes__item--small">
              <span class="boxes__item-title">
                Signature of Issuer / Llofnod y Cyhoeddwr
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->

          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
              <span class="boxes__item-title">
                Issued / Cyhoeddwyd
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                  <span class="boxes__item-text" id="issued-date">
                    {{failData.issuedDate}}
                  </span>
                </div>
              </div>
            </div>
            <!-- /box-item -->

            <!-- box-item -->
            <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
              <span class="boxes__item-title">
                Test Station / Gorsaf Brawf
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content">
                  <span class="boxes__item-text" id="test-station-id">
                    {{failData.testStation}}
                  </span>
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->

          <!-- boxes__row -->
          <div class="boxes__row">
            <!-- box-item -->
            <div class="boxes__item boxes__item--one-half boxes__item--medium">
              <span class="boxes__item-title">
                Inspection Authority / Awdurdod Archwilio
              </span>
              <div class="boxes__item-box">
                <div class="boxes__item-content" id="inspection-authority">
                  {{#each failData.inspectionAuthorityLines}}
                  <span class="boxes__item-text">
                    {{{tabulator this}}}
                  </span>
                  {{/each}}
                </div>
              </div>
            </div>
            <!-- /box-item -->
          </div>
          <!-- /boxes__row -->
        </div>
        <!-- /boxes -->
      </div>
    </div>
    <!-- bottom -->

    <!-- footer -->
    <div class="footer">
      <div class="footer__inner">
        <div class="footer__inner-left">
          <span class="footer__text">
            VT32/VEW/1.0
          </span>
        </div>

        <div class="footer__inner-right">
          <div class="footer__pagination">
            <span class="footer__pagination-text">
              Page
            </span>
            <span class="footer__pagination-text">
              {{currentPageNumber}}
            </span>
            <span class="footer__pagination-text">
              of
            </span>
            <span class="footer__pagination-text">
              {{maxPageNumber}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- /footer -->

  </div>
</div>
<!-- /certificate -->
</body>
</html>
